venv/

*.pyc
__pycache__/

config.py

ktp_ocr_crop/data_ktp_muslimat_nu/*
ktp_ocr_crop/OCR_texts/*
ktp_ocr_crop/resource/*

ktp_ocr_crop/elite-dreamer-359506-4b3471bc4dea.json

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/